@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar-track { background: #C5C0C8; }
::-webkit-scrollbar-thumb { background: #A49FA6; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #D3045C; }

#root { background-color: #FFFFFF; min-height: 100vh; }
